 .conteiner{
    background-color: black;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 20px auto 0 auto;
    box-shadow: 0px 6px 50px;
    border-radius: 5px;
    margin-top: 250px;
 }

 .titulo{
    color: #ffffff;
    text-align: center;
    margin-bottom: 35px;
}

.input{
    padding: 20px;
    margin-left: 90px;
    border: none;
    outline: none;
    font-size: 15px;
}
.button{
    background-color: rgb(212, 248, 6);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    
}
.button:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
.erroInput{
    border: 2px solid rgb(253, 0, 0) !important;
}
