<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GenGym</title>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
         $(function () {
            $("#header").load("header.html");
            $("#footer").load("footer.html");
            $("#Mobile-navbar").load("mobile-navbar.js");

         });
      </script>
    <link rel="stylesheet" href="static/Cad.css">
    <link rel="stylesheet" href="static/header.css">
    <link rel="icon" type="image/x-icon" href="./Imgs/academia.png">

</head>
<body>
<div id="header"></div>

<main>

    <div class="conteiner">
        <form class="Cadastro">

            <h1 class="titulo">Cadastro de alunos</h1>
            <br>
            <div class="row">
                <label for="">Nome </label>
                <input type="text" placeholder="Nome" >
            </div>
            <div class="row">
                <label for="">Sobrenome</label>
                <input type="text" placeholder="Sobrenome" >
            </div>
            <div class="row">
                <label for="">Senha</label>
                <input id="password" type="password"  placeholder="Senha">
            </div>
            <div class="row">
                <label for="">Insira a senha novamente</label>
                <input id="password" type="password"  placeholder="Senha">
            </div>
            <div class="row">
                <label for="">Email </label>
                <input id="email" type="email" placeholder="Email@email.com">
            </div>
            <div class="row">
                <label for="">CPF</label>
                <input id="cpf" type="cpf" placeholder="000.000.000-00" autocomplete="off" maxlength="14" onkeyup="mascara_cpf()" >
            </div>

            <div class="row">
                <label for="">Telefone</label>
                <input type="text" id="phone" name="phone" onkeypress="mask(this, mphone);" onblur="mask(this, mphone);" />
            </div>

<!--            aqui vai ter um list com os tipos de planos que podem ser escolhidos-->

            <div class="row">
                <label for="">Sexo </label>
                <input type="radio" value="Feminino" id="feminino" name="Sexo" >
                <label for="">Feminino</label>
                <input type="radio" value="Masculino" id="masculino" name="Sexo" >
                <label for="">Masculino</label>
                <input type="radio" value="Outros" id="Outros" name="Sexo" >
                <label for="">Outros</label>
            </div>

            <div class="buttons">

                <input type="reset"  name="b2" value="Limpar">
                <input id="button"type="submit" name="b1" value="Enviar">
            </div>

        </form>
    </div>



</main>
<div id="footer"></div>
<script src="./static/Cad.js"></script>

</body>

</html>