<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GenGym</title>
    <link rel="stylesheet" th:href="@{static/style.css}" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
      $(function () {
         $("#header").load("header.html");
         $("#footer").load("footer.html");
         $("#Mobile-navbar").load("mobile-navbar.js");
      });
   </script>
    <link rel="icon" type="image/x-icon" href="./Imgs/academia.png">
</head>

<body>
<div th:id="header"></div>

<main>

    <div id="slider">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <input type="radio" name="slider" id="slide1" checked>
        <input type="radio" name="slider" id="slide2">
        <input type="radio" name="slider" id="slide3">
        <input type="radio" name="slider" id="slide4">
        <div id="slides">
            <div id="carossel">
                <div class="inner">
                    <div class="slide slide_1">
                        <div class="slide-content">
                            <img src="./Imgs/img2.jpg" alt="">
                        </div>
                    </div>
                    <div class="slide slide_2">
                        <div class="slide-content">
                            <img src="./Imgs/img3.jpg" alt="">

                        </div>
                    </div>
                    <div class="slide slide_3">
                        <div class="slide-content">

                            <img src="./Imgs/img4.jpg" alt="">
                            <p></p>
                        </div>
                    </div>
                    <div class="slide slide_4">
                        <div class="slide-content">
                            <img src="./Imgs/img1.jpg" alt="">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="controls">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
        </div>
        <div id="bullets">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
        </div>
    </div>

    <div class="conteudos">

        <div class="texto1">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nihil pariatur modi rem quis eos, inventore, et minus ex sapiente id incidunt nemo maiores culpa repellat cupiditate suscipit? Quia voluptatem soluta sunt minus magnam consequatur iure praesentium, perspiciatis corrupti reiciendis atque dolore ad quis rem ratione. Est ad quos veniam culpa autem nesciunt mollitia. Ratione veritatis, a natus commodi unde, provident aspernatur ullam necessitatibus voluptas amet eligendi eveniet possimus tempora, ipsa repellendus fuga itaque sequi accusamus quae officiis. Reprehenderit cumque officiis, minima iusto magni exercitationem autem, pariatur repellendus voluptate quisquam dolor quod enim accusantium ipsa sequi esse, earum laborum hic?</p>

        </div>

    </div>
</main>

<div id="footer"></div>
</body>


</html>
