<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GenGym</title>
    <link rel="stylesheet" href="./static/pacerias.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function () {
           $("#header").load("header.html");
           $("#footer").load("footer.html");
           $("#Mobile-navbar").load("mobile-navbar.js");
        });
     </script>
     <link rel="icon" type="image/x-icon" href="./Imgs/academia.png">

</head>
<body>
    <div id="header"></div>

        <div id="Logos">
            <div class="container-logos">
                <div class="container-logos-imagem">
                    <div class="container-imagem">
                        <img src="./Imgs/fotos-logo-academia-300x178.png" alt="">
                        <h2>Vivavida</h2>
                        
                    </div>
    
                    <div class="container-imagem">
                        <img src="Imgs/thumbnail_LOGO-ACADEMIA-1.png" alt="">
                        <h2>AcademiaMP</h2>
                
                    </div>

                    <div class="container-logos-imagem">
                        <div class="container-imagem">
                            <img src="./Imgs/foto.png" alt="">
                            <h2>academia</h2>
                            
                        </div>
                </div>

                </div>
            </div>
        </div>
    

    <div id="footer"></div>
</body>
</html>