<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GenGym</title>
      <link rel="stylesheet" href="./static/sobre.css">
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script>
         $(function () {
            $("#header").load("header.html");
            $("#footer").load("footer.html");
            $("#Mobile-navbar").load("mobile-navbar.js");
         });
      </script>
     <link rel="icon" type="image/x-icon" href="./Imgs/academia.png">
      
   </head>
   <body>
      <div id="header"></div>
      
      <div class="conteiner">
      <h1 class="text">A idéia por trás do projeto, e um sistema de gerenciamento de academia onde o proprietário de uma academia possa cadastrar seus alunos e gerenciar coisas como data de pagamento, horários, pagamentos e etc.</h1><br>

      <p class="text1" > <img class="img" src="./Imgs/img1.jpg">
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis pariatur, aliquid eaque iure minima facere id non, ut magni maiores commodi nam fugiat voluptatum. Accusantium cum distinctio illum architecto reiciendis soluta nihil sapiente iusto. Ratione, eaque! Nobis eum soluta, nostrum veniam officiis ex distinctio quibusdam et deleniti eligendi eos. Fuga excepturi neque, labore sed expedita ducimus veniam laborum. Minus suscipit ab in modi alias doloremque nostrum, beatae explicabo reiciendis ut dolore quam illum possimus velit hic quas voluptatem veritatis eum. Temporibus sed magni ducimus et nisi illo, ea dignissimos ad numquam officia alias molestias commodi explicabo quos repellendus tenetur vitae.<br />
      </p>
      
      <p class="text1" > <img class="img" src="./Imgs/img2.jpg">
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis pariatur, aliquid eaque iure minima facere id non, ut magni maiores commodi nam fugiat voluptatum. Accusantium cum distinctio illum architecto reiciendis soluta nihil sapiente iusto. Ratione, eaque! Nobis eum soluta, nostrum veniam officiis ex distinctio quibusdam et deleniti eligendi eos. Fuga excepturi neque, labore sed expedita ducimus veniam laborum. Minus suscipit ab in modi alias doloremque nostrum, beatae explicabo reiciendis ut dolore quam illum possimus velit hic quas voluptatem veritatis eum. Temporibus sed magni ducimus et nisi illo, ea dignissimos ad numquam officia alias molestias commodi explicabo quos repellendus tenetur vitae.<br />
      </p>
      </div>

      <p class="text1" > <img class="img" src="./Imgs/calendario.jpg">
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis pariatur, aliquid eaque iure minima facere id non, ut magni maiores commodi nam fugiat voluptatum. Accusantium cum distinctio illum architecto reiciendis soluta nihil sapiente iusto. Ratione, eaque! Nobis eum soluta, nostrum veniam officiis ex distinctio quibusdam et deleniti eligendi eos. Fuga excepturi neque, labore sed expedita ducimus veniam laborum. Minus suscipit ab in modi alias doloremque nostrum, beatae explicabo reiciendis ut dolore quam illum possimus velit hic quas voluptatem veritatis eum. Temporibus sed magni ducimus et nisi illo, ea dignissimos ad numquam officia alias molestias commodi explicabo quos repellendus tenetur vitae.<br />
      </p>
      </div>

      <p class="text1" > <img class="img" src="./Imgs/pdvSAMS6-1920x1080.png">
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis pariatur, aliquid eaque iure minima facere id non, ut magni maiores commodi nam fugiat voluptatum. Accusantium cum distinctio illum architecto reiciendis soluta nihil sapiente iusto. Ratione, eaque! Nobis eum soluta, nostrum veniam officiis ex distinctio quibusdam et deleniti eligendi eos. Fuga excepturi neque, labore sed expedita ducimus veniam laborum. Minus suscipit ab in modi alias doloremque nostrum, beatae explicabo reiciendis ut dolore quam illum possimus velit hic quas voluptatem veritatis eum. Temporibus sed magni ducimus et nisi illo, ea dignissimos ad numquam officia alias molestias commodi explicabo quos repellendus tenetur vitae.<br />
      </p>
      </div>



      <div id="footer"></div>
   </body>
   
</html>