<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GenGym</title>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
         $(function () {
            $("#header").load("header.html");
            $("#footer").load("footer.html");
            $("#Mobile-navbar").load("mobile-navbar.js");

         });
      </script>
    <link rel="stylesheet" href="./static/Cad.css">
    <link rel="stylesheet" th:href="@{static/style.css}" />
    <link rel="icon" type="image/x-icon" href="./Imgs/academia.png">

</head>
<body>
<div id="header"></div>


<main>
    <div>

        <div class="conteiner">
            <form method="post" class="Cadastro">

                <h1 class="titulo">Cadastro professor</h1>
                <br>

                <div class="row">
                    <label>Nome </label>
                    <input type="text" id="nome" name="nome" placeholder="Nome" >
                </div>

                <div class="row">
                    <label>Sobrenome</label>
                    <input type="text" id="sobrenome" name="sobrenome" placeholder="Sobrenome" >
                </div>

                <div class="row">
                    <label>Email </label>
                    <input id="email" name="email" type="email" placeholder="Email@email.com">
                </div>

                <div class="row">
                    <label>CPF</label>
                    <input id="cpf" name="cpf" type="cpf" placeholder="000.000.000-00" autocomplete="off" maxlength="14" onkeyup="mascara_cpf()" >
                </div>

                <div class="row">
                    <label>CREF</label>
                    <input type="text" id="cref" name="cref" placeholder="cref" >
                </div>

                <div class="row">
                    <label>Telefone</label>
                    <input type="text" id="telefone" name="telefone" onkeypress="mask(this, mphone);" onblur="mask(this, mphone);" />
                </div>

                <div class="row">
                    <label>Ministra aulas de: </label>
                    <select name="dropvalue" id="dropvalue">
                        <option value="musculacao">musculação</option>
                        <option value="danca">danca</option>
                        <option value="step">step</option>
                        <option value="yoga">yoga</option>
                    </select>
                </div>
                <div class="buttons">

                    <input type="reset"  name="b2" value="Limpar">
                    <button type="submit" name="b1">enviar</button>
                </div>

            </form>

        </div>

        <a href="/operarprofessor">
            <label class="buttonlogin">voltar</label>
        </a>
    </div>
</main>
<div id="footer"></div>
<script src="./static/Cad.js"></script>

</body>

</html>